# Naive Bayes Tutorial Part 1: Predicting survival from titanic crash

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Data_set/titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [3]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [4]:
inputs = df.drop('Survived',axis='columns')
target = df.Survived

In [5]:
inputs.Sex = inputs.Sex.map({'male': 1, 'female': 0})

In [7]:
inputs

     Pclass  Sex   Age     Fare
0         3    1  22.0   7.2500
1         1    0  38.0  71.2833
2         3    0  26.0   7.9250
3         1    0  35.0  53.1000
4         3    1  35.0   8.0500
..      ...  ...   ...      ...
886       2    1  27.0  13.0000
887       1    0  19.0  30.0000
888       3    0   NaN  23.4500
889       1    1  26.0  30.0000
890       3    1  32.0   7.7500

[891 rows x 4 columns]

In [8]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [9]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    0  38.0  71.2833
2       3    0  26.0   7.9250
3       1    0  35.0  53.1000
4       3    1  35.0   8.0500

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [11]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [12]:
model.fit(X_train,y_train)

GaussianNB()

In [13]:
model.score(X_test,y_test)

0.770949720670391

In [14]:
X_test[0:10]

     Pclass  Sex        Age    Fare
541       3    0   9.000000  31.275
117       2    1  29.000000  21.000
171       3    1   4.000000  29.125
10        3    0   4.000000  16.700
190       2    0  32.000000  13.000
525       3    1  40.500000   7.750
368       3    0  29.699118   7.750
245       1    1  44.000000  90.000
637       2    1  31.000000  26.250
829       1    0  62.000000  80.000

In [15]:
y_test[0:10]

541    0
117    0
171    0
10     1
190    1
525    0
368    1
245    0
637    0
829    1
Name: Survived, dtype: int64

In [16]:
model.predict(X_test[0:10])

array([1, 0, 0, 1, 1, 0, 1, 1, 0, 1])

In [17]:
model.predict_proba(X_test[:10])

array([[0.28211795, 0.71788205],
       [0.91879482, 0.08120518],
       [0.92680451, 0.07319549],
       [0.28338189, 0.71661811],
       [0.25083794, 0.74916206],
       [0.96726321, 0.03273679],
       [0.42597696, 0.57402304],
       [0.18789972, 0.81210028],
       [0.91607577, 0.08392423],
       [0.01028624, 0.98971376]])